/* src/components/DynamicSidebar.module.css */

.drawerPaper {
  width: 350px;
  box-sizing: border-box;
  padding: 16px;
}

.title {
  margin-bottom: 16px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Este gap controlará el espaciado vertical entre los campos */
  flex-grow: 1; /* Esto hace que el contenedor de inputs ocupe el espacio restante */
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  gap: 8px;
}

.mainContainer {
  display: flex;
  flex-direction: column; 
  height: 100%;
}

.customTextField {
  /* Apunta a la clase interna de MUI que crea el borde del input */
  & .MuiOutlinedInput-notchedOutline {
    border-color: #333 !important; /* Color del borde más oscuro */
    border-width: 2px !important; /* Grosor del borde */
  }
}